<!-- join queries -->
<div class="well">
  <div class="input-group" ng-repeat="join_query in query.form.prev_joins track by $index">
    <span class="input-group-addon">Joined</span>
    <input class="form-control" ng-model="join_query" disabled />
  </div>
  <div ng-if="query.form.last_join">
    <form ng-submit="query.extendJoin()">
      <div class="input-group">
        <span class="input-group-addon">Join</span>
        <input class="form-control" ng-model="query.form.last_join" />
      </div>
    </form>
  </div>
  <form ng-submit="query.newJoin()">
    <div class="input-group">
      <span class="input-group-addon">New Join</span>
      <input class="form-control" ng-model="query.form.new_join" />
    </div>
  </form>
</div>

<p ng-if="query.query_error">
  <span class="label label-danger">Query Syntax Error</span>
  <code>{{ query.query_error }}</code>
</p>

<p ng-if="search_error">
  <span class="label label-danger">Search Error</span>
  {{ search_error }}
</p>

<p ng-if="completed && success && !last_model">
  <em>No matching data</em>
</p>

<div ng-if="completed && success && last_model">

<div id="results-header">
  <span>{{ table.rows.length }} row(s) of <b>{{ last_model }}</b></span>
  <div id="recommended_rels" class="dropdown navbar-right">
    <a data-toggle="dropdown" href="javascript:void(0);">Relations from {{ last_model }}</a>
    <ul class="rel-list dropdown-menu" role="menu">
      <li ng-repeat="rel in last_model_rels">
        <span class="rel-actions">
          <span ng-if="!query.form.last_join && query.form.prev_joins.length == 0">
            <a class="btn btn-xs btn-info" href='javascript:void(0);' title="Extend main query"
               ng-click="newMainQuery(query.form.main_query, last_model, rel)">Q</a>
          </span>
          <span ng-if="query.form.last_join">
            <a class="btn btn-xs btn-info" href='javascript:void(0);' title="Extend last join"
               ng-click="query.addRelToJoin(last_model, rel)">E</a>
          </span>
          <a class="btn btn-xs btn-info" href='javascript:void(0);' title="New join"
             ng-click="query.addJoinToQuery(last_model, rel)">J</a>
        </span>
        <span class="rel-name">{{ rel }}</span>
      </li>
    </ul>
  </div> <!-- recommended_rels -->
</div>

<table class="table table-condensed table-striped table-bordered table-fixed" ng-if="table.attrs">
  <tr class="success">
    <td class="wrap" ng-repeat="q in table.queries track by $index" colspan="{{ q.cols }}">
      <a href="javascript:void(0)" ng-click="table.toggle($index)" title="Click to show/hide attrs"
       >{{ q.query }}</a>
    </td>
  </tr>

  <tr class="success">
    <th class="wrap" ng-repeat="attr in table.attrs track by $index">{{ attr }}</th>
  </tr>

  <tr ng-repeat="row in table.rows track by $index">
    <td class="wrap" ng-repeat="object in row track by $index">
      {{ object.ptr[table.attrs[$index]]|showAttr }}
    </td>
  </tr>
</table>

<p>
<a href="data:attachment/csv,{{ table.csv }}" target="_blank" download="data.csv">Click to download</a>
</p>

</div> <!-- if for results table -->
