# core django stuff
Django == 1.8.*
django-nose

# nose coverage
coveralls

# humanize dates
humanize

# parser
parsimonious == 0.5

# parse humanized dates
parsedatetime == 1.2

# assets
webassets == 0.8
jsmin == 2.0.9
